:host {
    display: flex;
    border-radius: .5em;
    background-color: var(--light);
    color: var(--dark);
    border: 1px solid var(--dark);
    width: fit-content;

    * {
        user-select: none;
    }

    &>div {
        padding: 1em;
        font-weight: bold;
        text-align: center;
        flex-grow: 1;
        cursor: pointer;

        &:first-child {
            border-radius: .5em 0 0 .5em;
        }

        &:last-child {
            border-radius: 0 .5em .5em 0;
        }

        &:not(:last-child) {
            border-right: 1px solid var(--dark);
        }

        &.active {
            background-color: var(--primary);
            color: var(--light);

            &:hover {
                outline: ridge .2em var(--secondary);
            }

            z-index: 100;
        }
    }

}