:root {
    --primary: #007bff;
    --primary-active: #6ea8fe;
    --secondary: #6c757d;
    --secondary: #a7acb1;
    --success: #28a746;
    --success-active: #75b798;
    --danger: #dc3545;
    --danger-active: #ea868f;
    --warning: #ffc107;
    --warning-active: #ffda6a;
    --info: #17a2b8;
    --info-active: #6edff6;
    --light: #f8f9fa;
    --light-active: #d3d3d3;
    --dark: #343a40;
    --dark-active: #dee2e6;
}